<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <style>
        .header {
            padding-right: 10px;
        }
        .h1 {
            font-weight: bold;
            font-size: 24px;
        }
    </style>
</head>
<body>
    <header class="header">
        <nav>
            <a href="{% url 'index' %}">Início</a> |
            <a href="{% url 'sobre' %}">Sobre</a> |
            <a href="{% url 'entrar_em_contato' %}">Contato</a>  <!-- Corrigido -->
        </nav>
    </header>
    <h1 class="h1">Contato</h1>
</body>
</html>
